<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147140550059-s8huvppjt97614pafl6mddtvpgmfjuvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147140550059-s8huvppjt97614pafl6mddtvpgmfjuvq</string>
	<key>API_KEY</key>
	<string>AIzaSyCWPy80S81NUax1it_4YYf4ipgYKKmXKPM</string>
	<key>GCM_SENDER_ID</key>
	<string>147140550059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cursoios.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-aad1b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-aad1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147140550059:ios:aaed99c03595ebdc</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-aad1b.firebaseio.com</string>
</dict>
</plist>